<ion-header style="margin-top:10px;">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            拜访详情
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-card>
    <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>ion-item in a card, icon left, button right</ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
        This is content, without any paragraph or header tags,
        within an ion-card-content element.
    </ion-card-content>
</ion-card> -->
    <ion-card-header style="padding-top:0px;padding-bottom:0px;">
        <ion-grid>
            <ion-row>
                <ion-col style="line-height:40px;">
                    <ion-card-title>
                        {{visitRecordInputDto.employeeName}}
                        {{visitRecordInputDto.signTime| date:'yyyy-MM-dd'}}
                        <!-- + ' ' + visitRecordInputDto.signTime| date:'yyyy-MM-dd'}} -->
                    </ion-card-title>
                    <ion-card-content style="padding: 6px 0px;">
                        {{visitRecordInputDto.summDescDetail}}
                    </ion-card-content>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card-header>

    <ion-list lines="none">
        <ion-list-header>
            <ion-label style="color:gray;">签到图片</ion-label>
        </ion-list-header>
        <ion-item *ngIf="visitRecordInputDto.isOnline === 0 && photos.length>0">
            <ion-col style="margin:0px;padding:0px;" *ngFor="let item of photos">
                <ion-img style="width:60px;height:60px;" [src]="'data:image/jpeg;base64,'+ item"></ion-img>
            </ion-col>
        </ion-item>
        <ion-item *ngIf="visitRecordInputDto.isOnline === 1">
            <ion-label>
                <h2>本次采集由钉钉端完成，请前往钉钉进行查看</h2>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label style="color:gray;">备注</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>
                <p>{{visitRecordInputDto.desc}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label style="color:gray;">烟农考核信息</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of visitRecordInputDto.examines">
            <ion-label>
                <h2>{{item.name}}</h2>
            </ion-label>
            <ion-note style="padding-top:0px;padding-bottom:0px;" slot="end">
                <h6>{{item.scoreName}}</h6>
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>