<ion-header>
  <ion-toolbar>
    <ion-title>
      任务拜访
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <!-- <ion-card-header style="padding-top:0px;padding-bottom:0px;">
      <ion-card-title>
        <ion-grid>
          <ion-row>
            <ion-col style="line-height:40px;">
              杨帆
            </ion-col>
            <ion-col>
              <ion-button style="float:right;">任务下载</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-title>
      <ion-card-content>
        广元市-软件工程师 </ion-card-content>
    </ion-card-header> -->
    <ion-card-header style="padding-top:0px;padding-bottom:0px;">
      <ion-grid>
        <ion-row>
          <ion-col style="line-height:40px;">
            <ion-card-title>
              杨帆
            </ion-card-title>
            <ion-card-content style="padding: 6px 0px;">
              广元市-软件工程师
            </ion-card-content>
          </ion-col>
          <ion-col>
            <ion-button style="float:right;" (click)="downLoad()">任务下载</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

  </ion-card>
  <ion-list lines="none" *ngIf="scheduleTaskDtoList.length > 0">
    <ion-list-header>
      <ion-label>当前任务列表</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let item of scheduleTaskDtoList" (click)="goDetails(item.id)">
      <ion-avatar slot="start">
        <img src="assets/icon/warn_y.png">
      </ion-avatar>
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>截止时间：{{item.endTime| date:'yyyy-MM-dd'}} | {{item.extra}}</p>
      </ion-label>
      <ion-avatar style="margin-bottom:0px;" slot="end">
        <img style="width:30px;height:30px;" src="assets/icon/extra.png">
      </ion-avatar>
    </ion-item>
    <!-- <ion-item (click)="goDetails()">
      <ion-avatar slot="start">
        <img src="assets/icon/warn_y.png">
      </ion-avatar>
      <ion-label>
        <h2>除草（技术服务）</h2>
        <p>截止时间：2019-3-27 | 剩余2天</p>
      </ion-label>
      <ion-avatar style="margin-bottom:0px;" slot="end">
        <img style="width:30px;height:30px;" src="assets/icon/extra.png">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/warn_y.png">
      </ion-avatar>
      <ion-label>
        <h2>烘烤（技术服务）</h2>
        <p>截止时间：2019-3-27 | 剩余2天</p>
      </ion-label>
      <ion-avatar style="margin-bottom:0px;" slot="end">
        <img style="width:30px;height:30px;" src="assets/icon/extra.png">
      </ion-avatar>
    </ion-item>-->
    <!-- <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/warn_y.png">
      </ion-avatar>
      <ion-label>
        <h2>面积落实（面积落实）</h2>
        <p>截止时间：2019-3-28 | 剩余3天</p>
      </ion-label>
      <ion-avatar style="margin-bottom:0px;" slot="end">
        <img style="width:30px;height:30px;" src="assets/icon/extra.png">
      </ion-avatar>
    </ion-item> -->
  </ion-list>
  <div class="item ddcenter page-margin page-padding" *ngIf="scheduleTaskDtoList.length == 0">
    <ion-img src="assets/icon/nodata-search.png"></ion-img>
    <p style="color:gray; margin-top:10px;">没有待拜访的任务</p>
  </div>
  <ion-button (click)="search()">任务获取</ion-button>
  <ion-button (click)="getData()">数据查询</ion-button>
  <ion-button (click)="refreshData()">装载数据</ion-button>
</ion-content>