<ion-header style="margin-top:10px;">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button>
            </ion-back-button>
        </ion-buttons>
        <ion-title>
            任务详情
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list lines="full" style="padding-bottom:0px;">
        <ion-item style="margin:0px 20px;">
            <ion-thumbnail slot="start">
                <ion-img src="assets/icon/icon-tasknor.png"></ion-img>
            </ion-thumbnail>
            <ion-label>
                <h2>{{taskDetailDto.taskTitle}}</h2>
                <p>{{taskDetailDto.scheduleTitle}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list lines="none" style="padding-bottom:0px; padding-top: 0px;">
        <ion-item style="padding-left: 32px;padding-right: 32px;">
            <!-- <ion-icon slot="start" name="logo-ionic"></ion-icon> -->
            <!-- <ion-thumbnail slot="start">
                <ion-img style="width:40px;height:40px;" src="{{taskDetailDto.statusImg}}"></ion-img>
            </ion-thumbnail> -->
            <ion-avatar style="width:30px;height:30px;" slot="start">
                <img src="{{taskDetailDto.statusImg}}">
            </ion-avatar>
            <ion-label style="font-size: 14px;color: gray;">{{taskDetailDto.statusDesc}}（{{taskDetailDto.extra}}）
            </ion-label>
        </ion-item>
    </ion-list>
    <div style="margin:0px 20px;">
        <ion-list-header>
            <ion-label>进度(已完成{{taskDetailDto.completeNum}}次共{{taskDetailDto.visitTotal}}次)</ion-label>
        </ion-list-header>
        <ion-progress-bar value="{{percent}}"></ion-progress-bar>
    </div>
    <div class="ion-padding">
        <ion-list lines="inset">
            <ion-item-sliding>
                <ion-item style="font-size:14px">
                    <ion-thumbnail slot="start" style="height:30px;width:30px;">
                        <ion-img src="assets/icon/calendar.png"></ion-img>
                    </ion-thumbnail>
                    <ion-label>开始时间</ion-label>
                    <ion-note slot="end">{{taskDetailDto.beginTime| date:'yyyy-MM-dd'}}</ion-note>
                </ion-item>
                <ion-item style="font-size:14px">
                    <ion-thumbnail slot="start" style="height:30px;width:30px;">
                        <ion-img src="assets/icon/calendar.png"></ion-img>
                    </ion-thumbnail>
                    <ion-label>结束时间</ion-label>
                    <ion-note slot="end">{{taskDetailDto.endTime| date:'yyyy-MM-dd'}}</ion-note>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
        <ion-segment>
            <ion-segment-button (ionSelect)="segmentButtonClicked(0)" checked>
                <ion-label>待完成</ion-label>
            </ion-segment-button>
            <ion-segment-button (ionSelect)="segmentButtonClicked(1)">
                <ion-label>已完成</ion-label>
            </ion-segment-button>
        </ion-segment>
        <ion-list lines="none" *ngIf="isComplete">
            <div *ngIf="taskDetailDto.completeGrowersDto.length>0">
                <ion-list-header>
                    <ion-label>烟农列表（选择烟农去拜访）</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let item of taskDetailDto.completeGrowersDto" (click)="goDetails(item.id)">
                    <ion-label>{{item.growerName}}
                        <p>{{item.unitName}}</p>
                    </ion-label>
                    <ion-note slot="end">已拜访{{item.completeNum}}次共{{item.visitNum}}次</ion-note>
                </ion-item>
            </div>
            <div *ngIf="taskDetailDto.completeGrowersDto.length == 0" style="float:center;text-align:center;">
                <p style="color:gray; margin-top:10px;">没有已完成数据
                </p>
            </div>
        </ion-list>
        <ion-list lines="none" *ngIf="!isComplete">
            <div *ngIf="taskDetailDto.unCompleteGrowersDto.length>0">
                <ion-list-header>
                    <ion-label>烟农列表（选择烟农去拜访）</ion-label>
                </ion-list-header>
                <ion-item *ngFor="let item of taskDetailDto.unCompleteGrowersDto" (click)="goDetails(item.id)">
                    <ion-label>{{item.growerName}}
                        <p>{{item.unitName}}</p>
                    </ion-label>
                    <ion-note slot="end">已拜访{{item.completeNum}}次共{{item.visitNum}}次</ion-note>
                </ion-item>
            </div>
            <div *ngIf="taskDetailDto.unCompleteGrowersDto.length == 0" style="float:center;text-align:center;">
                <p style="color:gray; margin-top:10px;">没有待完成数据
                </p>
            </div>
        </ion-list>
    </div>
</ion-content>